.main {
  position: relative;

  &::before {
      position: absolute;
      content: "";
      bottom: 290px;
      right: 0;

      width: 375px;
      height: 635px;

      background-image: url("../img/polygon.svg");
      background-repeat: no-repeat;
    }
}

@media (min-width: $tablet-width) {
  .main {
    &::before {
        bottom: 170px;
        right: 0;
        width: 475px;
      }
  }
}
