/* stylelint-disable */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Condensed-Bold.woff2") format("woff2"), url("../fonts/Roboto-Condensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Condensed-Regular.woff2") format("woff2"), url("../fonts/Roboto-Condensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PT Mono";
  src: url("../fonts/pt-mono-regular.woff2") format("woff2"), url("../fonts/pt-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #00B2FF;
  background-color: #00B2FF;
  border-radius: 5px; }
  .button:hover, .button:focus {
    color: #00B2FF;
    background-color: #FFFFFF;
    outline: none; }
  .button:active {
    opacity: 0.6;
    outline: none; }
  .button--outline {
    color: #00B2FF;
    background-color: #FFFFFF;
    border-radius: 5px; }
    .button--outline:hover, .button--outline:focus {
      color: #FFFFFF;
      background-color: #00B2FF; }
  .button--blue-outline {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #00B2FF; }

.introduction {
  position: relative;
  padding: 320px 15px 70px 15px;
  margin-top: -100px;
  background-image: url("../img/background-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .introduction {
      background-image: url("../img/background-mobile@2x.png"); } }
  .introduction::before {
    position: absolute;
    content: "";
    top: 120px;
    right: 0;
    z-index: 1;
    width: 295px;
    height: 220px;
    background-image: url("../img/layout-mobile@1x.png");
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .introduction::before {
        background-image: url("../img/layout-mobile@2x.png");
        background-size: 295px 220px; } }

.introduction__tagline {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 270px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF; }

.introduction__header {
  position: relative;
  display: block;
  margin: 30px 0 40px 40px;
  max-width: 245px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF; }
  .introduction__header::before {
    position: absolute;
    content: "";
    left: -40px;
    top: 15px;
    width: 33px;
    height: 2px;
    background-color: #FFFFFF; }

.introduction__link--long {
  display: none; }

.introduction__note {
  display: none; }

@media (min-width: 750px) {
  .introduction {
    padding: 340px 35px 280px 35px;
    margin-top: -105px;
    background-image: url("../img/background-tablet@1x.png"); } }
  @media (min-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 750px) and (min-resolution: 144dpi), (min-width: 750px) and (min-resolution: 1.5dppx) {
    .introduction {
      background-image: url("../img/background-tablet@2x.png"); } }

@media (min-width: 750px) {
    .introduction::before {
      top: 120px;
      width: 260px;
      height: 340px;
      background-image: url("../img/layout-tablet@1x.png"); } }
    @media (min-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 750px) and (min-resolution: 144dpi), (min-width: 750px) and (min-resolution: 1.5dppx) {
      .introduction::before {
        background-image: url("../img/layout-tablet@2x.png");
        background-size: 260px 340px; } }

@media (min-width: 750px) {
  .introduction__tagline {
    max-width: 470px;
    margin-left: 70px;
    font-size: 60px;
    line-height: 70px; }
  .introduction__header {
    margin: 30px 0 40px 115px;
    max-width: 355px;
    font-size: 18px;
    line-height: 28px; }
    .introduction__header::before {
      top: 18px; }
  .introduction__link--long {
    display: inline-block;
    padding: 15px 40px;
    margin-left: 70px; }
  .introduction__link--short {
    display: none; } }

@media (min-width: 1565px) {
  .introduction {
    padding: 340px 25px 280px 25px;
    margin-top: -125px;
    background-color: #1B2D37;
    background-image: url("../img/background-desktop@1x.png"), url("../img/background-stars-desktop@1x.png"); } }
  @media (min-width: 1565px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1565px) and (min-resolution: 144dpi), (min-width: 1565px) and (min-resolution: 1.5dppx) {
    .introduction {
      background-image: url("../img/background-desktop@2x.png"), url("../img/background-stars-desktop@2x.png"); } }

@media (min-width: 1565px) {
    .introduction::before {
      top: 120px;
      width: 705px;
      height: 515px;
      background-image: url("../img/layout-desktop@1x.png"); } }
    @media (min-width: 1565px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1565px) and (min-resolution: 144dpi), (min-width: 1565px) and (min-resolution: 1.5dppx) {
      .introduction::before {
        background-image: url("../img/layout-desktop@2x.png");
        background-size: 705px 515px; } }

@media (min-width: 1565px) {
  .introduction__wrap {
    width: 1565px;
    margin: 0 auto; }
  .introduction__tagline {
    max-width: 720px;
    margin-left: 0;
    font-size: 80px;
    line-height: 94px; }
  .introduction__header {
    margin: 30px 0 40px 95px;
    max-width: 640px;
    font-size: 22px;
    line-height: 34px; }
    .introduction__header::before {
      left: -90px;
      top: 20px;
      width: 65px; }
  .introduction__note {
    position: absolute;
    bottom: 120px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

.header {
  position: relative;
  z-index: 1;
  padding: 15px; }

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__title-wrap {
  display: none; }

.header__menu {
  display: none; }

.header__menu-button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  padding: 0;
  width: 37px;
  height: 13px;
  background-color: transparent;
  border: none; }
  .header__menu-button:hover svg,
  .header__menu-button:focus svg {
    fill: #00B2FF;
    outline: none; }
  .header__menu-button svg {
    fill: #FFFFFF; }

.header__bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__link {
  font-size: 0;
  line-height: 0;
  color: transparent;
  margin-left: 25px; }
  .header__link--email svg,
  .header__link--phone svg {
    fill: #00B2FF; }
  .header__link--order {
    display: none; }
  .header__link:hover svg,
  .header__link:focus svg {
    fill: #FFFFFF;
    outline: none; }
  .header__link:first-child {
    margin: 0; }

@media (min-width: 750px) {
  .header {
    padding: 25px; }
  .header__logo {
    margin-right: 15px;
    width: 52px;
    height: 52px; }
  .header__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__title-name {
    margin: 0;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF; }
  .header__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891; }
  .header__link {
    margin-left: 35px; }
    .header__link:first-child {
      margin: 0; } }

@media (min-width: 1565px) {
  .header {
    padding: 35px; }
  .header__menu-button {
    margin-right: 345px; }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF; }
    .header__link--email svg,
    .header__link--phone svg {
      width: 19px;
      height: 19px;
      margin-right: 20px; }
    .header__link--email {
      margin-right: 90px; }
    .header__link--phone {
      margin-right: 50px; }
    .header__link--order {
      display: block;
      font-family: "Roboto", "Arial", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase; }
    .header__link:hover, .header__link:focus {
      color: #00B2FF;
      outline: none; } }

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.features-list__item {
  margin-bottom: 20px;
  padding: 25px 10px 15px 30px;
  border: 1px solid #EBEBEB;
  border-left: 2px solid #00B2FF;
  background-color: #FFFFFF;
  cursor: pointer; }
  .features-list__item:last-child {
    margin-bottom: 0; }
  .features-list__item svg {
    fill: #00B2FF; }
  .features-list__item:hover, .features-list__item:focus {
    background-color: #00B2FF;
    border-color: #00B2FF; }
    .features-list__item:hover .features-list__header,
    .features-list__item:hover .features-list__text, .features-list__item:focus .features-list__header,
    .features-list__item:focus .features-list__text {
      color: #FFFFFF; }
    .features-list__item:hover svg, .features-list__item:focus svg {
      fill: #FFFFFF; }

.features-list__header {
  margin: 10px 0 15px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #00B2FF; }

.features-list__text {
  margin: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666; }

@media (min-width: 750px) {
  .features-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .features-list__item {
    width: calc(50% - 15px);
    margin-bottom: 30px; }
    .features-list__item:nth-child(2n + 1) {
      margin-right: 30px; }
    .features-list__item:nth-child(n + 3) {
      margin-bottom: 0; }
  .features-list__header {
    margin: 10px 0 20px 0;
    font-size: 24px;
    line-height: 34px; } }

@media (min-width: 1565px) {
  .features-list {
    width: 1170px;
    margin: 0 auto; }
  .features-list__item {
    width: 570px;
    min-height: 300px;
    border-left: 3px solid #00B2FF; } }

.about {
  position: relative;
  z-index: 2;
  padding: 0 15px 30px 15px; }

.about__header {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: #666666; }

.about__text {
  margin: 0 0 40px 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666; }
  .about__text:nth-child(3) {
    margin: 0 0 30px 0; }
  .about__text--long {
    display: none; }

.about__link {
  padding: 15px 40px; }

@media (min-width: 750px) {
  .about {
    position: relative;
    padding: 0 25px 35px 210px; }
    .about::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 245px;
      height: 365px;
      background-image: url("../img/year-tablet@1x.png");
      background-repeat: no-repeat; } }
    @media (min-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 750px) and (min-resolution: 144dpi), (min-width: 750px) and (min-resolution: 1.5dppx) {
      .about::before {
        background-image: url("../img/year-tablet@2x.png");
        background-size: 245px 365px; } }

@media (min-width: 750px) {
  .about__header {
    margin: 0 0 25px 0;
    font-size: 32px;
    line-height: 45px; }
  .about__text {
    margin: 0 0 45px 0; }
    .about__text:nth-child(3) {
      margin: 0 0 35px 0; } }

@media (min-width: 1565px) {
  .about {
    width: 1170px;
    margin: 0 auto; }
  .about__header {
    font-size: 36px;
    line-height: 51px; }
  .about__text {
    margin: 0 0 30px 0; }
    .about__text:nth-child(3) {
      margin: 0 0 30px 0; }
    .about__text---dots {
      display: none; }
    .about__text--long {
      display: inline-block;
      vertical-align: middle; } }

.features {
  position: relative;
  z-index: 2;
  padding: 35px 17px 60px 14px; }

@media (min-width: 750px) {
  .features {
    padding: 55px 25px; } }

.main {
  position: relative; }
  .main::before {
    position: absolute;
    content: "";
    bottom: 290px;
    right: 0;
    width: 375px;
    height: 635px;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat; }

@media (min-width: 750px) {
  .main::before {
    bottom: 170px;
    right: 0;
    width: 475px; } }

@media (min-width: 1565px) {
  .main {
    background-image: url("../img/main-background.svg");
    background-repeat: no-repeat;
    background-position: bottom center; }
    .main::before {
      display: none; } }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 490px;
  min-height: 605px;
  margin-top: -300px;
  margin-left: -245px;
  padding: 35px 40px;
  background-color: #00B2FF; }
  .modal--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }

.modal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.modal__header {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: #FFFFFF; }

.modal__note {
  margin: 0 0 30px 0;
  max-width: 380px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF; }

.modal__close-button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .modal__close-button:hover, .modal__close-button:focus, .modal__close-button:active {
    opacity: 0.6;
    outline: none; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__input {
  width: 410px;
  height: 50px;
  margin-bottom: 30px;
  padding: 15px 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  border: none; }
  .form__input::-webkit-input-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__input::-moz-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__input:-ms-input-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__input::-ms-input-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__input::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__input:hover, .form__input:focus {
    color: #00B2FF;
    background: #FFFFFF;
    outline: none; }
    .form__input:hover::-webkit-input-placeholder, .form__input:focus::-webkit-input-placeholder {
      color: #00B2FF; }
    .form__input:hover::-moz-placeholder, .form__input:focus::-moz-placeholder {
      color: #00B2FF; }
    .form__input:hover:-ms-input-placeholder, .form__input:focus:-ms-input-placeholder {
      color: #00B2FF; }
    .form__input:hover::-ms-input-placeholder, .form__input:focus::-ms-input-placeholder {
      color: #00B2FF; }
    .form__input:hover::placeholder, .form__input:focus::placeholder {
      color: #00B2FF; }

.form__textarea {
  width: 410px;
  height: 105px;
  margin-bottom: 30px;
  padding: 15px 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  resize: none; }
  .form__textarea::-webkit-input-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__textarea::-moz-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__textarea:-ms-input-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__textarea::-ms-input-placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__textarea::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; }
  .form__textarea:hover, .form__textarea:focus {
    color: #00B2FF;
    background: #FFFFFF;
    outline: none; }
    .form__textarea:hover::-webkit-input-placeholder, .form__textarea:focus::-webkit-input-placeholder {
      color: #00B2FF; }
    .form__textarea:hover::-moz-placeholder, .form__textarea:focus::-moz-placeholder {
      color: #00B2FF; }
    .form__textarea:hover:-ms-input-placeholder, .form__textarea:focus:-ms-input-placeholder {
      color: #00B2FF; }
    .form__textarea:hover::-ms-input-placeholder, .form__textarea:focus::-ms-input-placeholder {
      color: #00B2FF; }
    .form__textarea:hover::placeholder, .form__textarea:focus::placeholder {
      color: #00B2FF; }

.form__submit {
  margin-bottom: 35px; }

.form__label {
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
  padding-left: 45px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.8; }

.form__checkbox:hover, .form__checkbox:focus, .form__checkbox:active {
  outline: none; }

.form__checkbox:hover span::before,
.form__checkbox:focus span::before {
  opacity: 0.6; }

.form__checkbox-indicator {
  position: relative;
  cursor: pointer; }
  .form__checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #FFFFFF;
    cursor: pointer; }
  .form__checkbox-indicator--selected::before {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 7px; }
  .form__checkbox-indicator:hover, .form__checkbox-indicator:focus, .form__checkbox-indicator:active {
    outline: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .overlay--show {
    display: block; }
