$dark-grey: #1B2D37;
$brown-grey: #666666;
$grey: #788891;
$light-grey: #EBEBEB;

$blue: #00B2FF;

$white: #FFFFFF;

$tablet-width: 750px;
$desktop-width: 1565px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
